[Unit]
Description=LinkBridge Python Service
After=network.target

[Service]
User=admin
Group=admin
WorkingDirectory=/home/barnabas/LinkBridge-main
ExecStart=/home/barnabas/LinkBridge-main/venv/bin/python /home/barnabas/LinkBridge-main/clock.py
Restart=always
RestartSec=5
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target